#!/usr/bin/make -f

DESTDIR = $(CURDIR)/debian/pulse-pkgs-agent

build:
	mkdir -p $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_pkgs_agent
	cp pkgs_agent/__init__.py $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_pkgs_agent
	cp -fr pkgs_agent/lib $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_pkgs_agent
	mkdir -p $(CURDIR)/debian/tmp/usr/sbin/
	cp pkgs_agent/bin/pulse_agent_xmlrpc_pkgs.py $(CURDIR)/debian/tmp/usr/sbin/
	mkdir -p $(CURDIR)/debian/tmp/usr/share/pkgs
	cp -fr ./pkgs_agent/web/* $(CURDIR)/debian/tmp/usr/share/pkgs

clean:
	dh_testdir
	dh_testroot
	-$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

binary-indep: build install
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install
	dh_fixperms
	dh_installchangelogs
	dh_installdocs
	dh_installinit
	# Some postinstall tools are known to fails after being stripped
	#dh_strip
	dh_link
	dh_compress
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
