#!/usr/bin/make -f

DESTDIR=$(CURDIR)/debian/tmp

build:
	mkdir -p $(DESTDIR)/usr/lib/python2.7/dist-packages/pulse_pkgs_agent
	cp -fv pkgs_agent/__init__.py $(DESTDIR)/usr/lib/python2.7/dist-packages/pulse_pkgs_agent
	cp -fr pkgs_agent/lib $(DESTDIR)/usr/lib/python2.7/dist-packages/pulse_pkgs_agent
	mkdir -p $(DESTDIR)/usr/sbin/
	cp -fv pkgs_agent/bin/pulse_agent_xmlrpc_pkgs.py $(DESTDIR)/usr/sbin/
	mkdir -p $(DESTDIR)/usr/share/pkgs
	cp -fr ./pkgs_agent/web/* $(DESTDIR)/usr/share/pkgs
	mkdir -p $(DESTDIR)/etc/pulse-pkgs-agent/
	cp -fv pkgs_agent/config/pulse_agent_xmlrpc_pkgs.ini $(DESTDIR)/etc/pulse-pkgs-agent/

clean:
	dh_testdir
	dh_testroot
	-$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_installdirs

binary-indep: build install
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install
	dh_fixperms
	dh_installchangelogs
	dh_installdocs
	dh_installinit
	# Some postinstall tools are known to fails after being stripped
	#dh_strip
	dh_link
	dh_compress
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
